@import '../../../../Style/Variables/Variables.scss';
.banner {
    display: flex;
    gap: 350px;
    padding: 0 90px;
    margin-bottom: 200px;
    .content {
        display: flex;
        justify-content: center;
    }
    img {
        width:600px;
        border-radius: 20px;
        height: 300px;
        position: absolute;
    }

    .banner-title {
        position: relative;
        padding: 20px;
        color: white;

        h3 {
            margin-bottom: 20px;
        }
        p {
            color: rgb(179, 179, 179);
            margin-bottom: 20px;
        }
    }
}


@media screen and (max-width: 1189px){
    .banner {
        flex-direction: column;
        position: relative;
        right: 150px;
        gap: 200px;
    }
}


@media screen and (max-width: 622px){
    .banner {
        position: relative;
        right: 50px;
        gap: 200px;
        img {
            width: 400px;
            height: 200px;
        }
    }

   
}

@media screen and (max-width: 480px){
    .banner {
        position: relative;
        right: 50px;
        gap: 200px;
        img {
            width: 350px;
            height: 170px;
        }
    }
    .banner-title {
        position: relative;
        padding: 20px;
        color: white;

        h3 {
            margin-bottom: 10px;
            font-size: 14px;
        }
        p {
            color: rgb(179, 179, 179);
            margin-bottom: 20px;
            font-size: 14px;
        }
        
        button {
           width: 120px ;
           height: 30px;
        }
        
    }
}



@media screen  and  (max-width: 375px){
    .banner {
        position: relative;
        right: 80px;
        gap: 200px;
        img {
            width: 350px;
            height: 200px;
        }
    }
    .banner-title {
        position: relative;
        padding: 20px;
        color: white;

        h3 {
            margin-bottom: 10px;
            font-size: 14px;
        }
        p {
            color: rgb(179, 179, 179);
            margin-bottom: 20px;
            font-size: 14px;
        }
        
        button {
           width: 120px ;
           height: 30px;
        }
        
    }
}

@media screen  and  (max-width: 320px){
    .banner {
        position: relative;
        right: 70px;
        gap: 200px;
        img {
            width: 310px;
            height: 200px;
        }
    }
    .banner-title {
        position: relative;
        padding: 20px;
        color: white;

        h3 {
            margin-bottom: 10px;
            font-size: 14px;
        }
        p {
            color: rgb(179, 179, 179);
            margin-bottom: 20px;
            font-size: 14px;
        }
        
        button {
           width: 120px ;
           height: 30px;
        }
        
    }
}